<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
         <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/creative.min.css" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>

    <link href="/static/css/login.css" rel="stylesheet">
</head>

<body name="page-top">

    <div class="container">
        <% include ./header %>
   </div>


    <div class="wrapper">
            <form class="form-signin" style="max-width: 800px" action="/users/registration" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Prénom*</label>
                            <input type="text"  class="form-control" name="inputFirstName" placeholder="Prénom">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Nom*</label>
                            <input type="text"  class="form-control" name="inputLastName" placeholder="Nom">
                        </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Email*</label>
                        <input type="email"  class="form-control" name="inputEmail" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Confirmez l'email*</label>
                        <input type="email"  class="form-control" name="inputConfirmEmail" placeholder="Confirmez l'email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="telephone">Téléphone*</label>
                        <input type="text"  class="form-control" name="inputTel" placeholder="012-345-6789">
                      </div>
                      <div class="form-group col-md-6">
                                  <label for="inputDegree">Dernier diplome*</label>
                                  <select name="inputDegree" class="form-control">
                                  <option value="" selected>Choose...</option>
                                  <option value="Des">Diplôme d'Étude secondaire</option>
                                  <option value="Bacc">Baccalauréat</option>
                                  <option value="M">Maitrise/Master</option>
                                  <option value="Phd">Doctorat</option>
                                  <option value="N/A">Autre</option>
                                </select>
                        </div>
                      <div class="form-group col-md-6">
                                    <label for="inputGenre">Genre*</label>
                                    <select name="inputGenre" class="form-control">
                                    <option value="" selected>Choose...</option>
                                    <option value="mas">Masculin</option>
                                    <option value="fem">Féminin</option>
                                    <option value="N/A">Autre</option>
                              </select>
                        </div>
                        <div class="form-group col-md-6">
                                <label for="Birth">Date de naissance*</label>
                                <input type="date"  class="form-control" name="inputBirthDate">
                            </div>
                        <div class="form-group col-md-6">
                                <script type= "text/javascript" src = "/static/js/countries.js"></script>
                                <label for="nationality">Pays de nationalité*</label>
                                <select id="inputCountry" name="inputCountry"></select>
                            </div>
                            <script language="javascript">
                                populateCountries("inputCountry"); // first parameter is id of country drop-down and second parameter is id of state drop-down
                            </script>

                        <div class="form-group col-md-6">
                                <label for="inputLanguage">Langue*</label>
                                <select name="inputLanguage" class="form-control">
                                <option value="" selected>Choose...</option>
                                <option value="Fran">Français</option>
                                <option value="Ang">Anglais</option>
                                <option value="Autre">Autre</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Addresse*</label>
                      <input type="text"  class="form-control" name="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Addresse 2</label>
                      <input type="text" class="form-control" name="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Ville*</label>
                        <input type="text"  class="form-control" name="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputProvince">Province*</label>
                        <select name="inputProvince" class="form-control">
                          <option value="" selected>Choose...</option>
                          <option value="AB">AB</option>
                          <option value="BC">BC</option>
                          <option value="P-E-I">P-E-I</option>
                          <option value="MB">MB</option>
                          <option value="NB">NB</option>
                          <option value="NS">NS</option>
                          <option value="ON">ON</option>
                          <option value="QC">QC</option>
                          <option value="SK">SK</option>
                          <option value="T-N-L">T-N-L</option>
                          <option value="NU">NU</option>
                          <option value="TN">TN</option>
                          <option value="YT">YT</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">code postal*</label>
                        <input type="text" class="form-control" name="inputZip">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">m'inscrire</button>
            </form>
      </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/public/js/main.js"></script>

    <div class="container">
        <% include ./footer %>
   </div>



</body>
</html>
