<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
         <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/creative.min.css" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>

</head>

<body id="page-top">
    <div class="container">
        <% include ./header %>
   </div>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <br><br><br>
                <h1 id="homeHeading" style="font-size: 60px" >Bienvenue <br> sur l'explorateur des Identités pour le conseil <br> </h1>
                <p>
                <h1 style="font-size: 35px">Contexte contemporain des travailleurs</h1>
                <hr>
                La mondialisation de l’économie et du travail ainsi que la révolution numérique 
                ont eu pour conséquence une discontinuité des parcours professionnels, synonyme 
                d’incertitudes et de changements. Ainsi, les travailleurs vivent de nombreuses 
                transitions au cours de leur vie professionnelle. Ces transitions sous-entendent 
                des changements identitaires. Par exemple, une transition professionnelle entraînerait 
                une évolution de l’identité professionnelle. Elle sera plus ou moins importante selon 
                que l’on change d’emploi, de structure, d’organisation ou encore de métier. En corollaire, 
                les identités extraprofessionnelles sont également touchées. Par exemple, une mobilité 
                géographique d’un travailleur qui est la conséquence d’un nouvel emploi remettrait 
                en question ses investissements pour la sphère amoureuse, la sphère familiale et la 
                sphère amicale, ou encore pour les sphères des activités sociales et de loisirs 
                (exemples : sport, théâtre, engagement communautaire, etc.).
               </p>
                <a href="/events" class="btn btn-primary btn-xl page-scroll">calendrier</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Accompagnement des transitions et des changements identitaires</h2>
                    <hr class="light">
                    <p class="text-faded">Ces parcours professionnels non linéaires remettent 
                        en question les approches traditionnelles en orientation et plus 
                        particulièrement l’utilisation exclusive d’outils d’évaluation 
                        quantitative par exemple les questionnaires d’intérêts professionnels 
                        ou de personnalité. Ils ne saisiraient pas la dynamique d’un 
                        client puisqu’ils mesurent des construits psychologiques plutôt 
                        stables et ils éclairent seulement l’aspect professionnel de la 
                        problématique de transition, alors que l’orientation tout au long 
                        de la vie invite les conseillers de carrière à accompagner leurs 
                        clients dans leur pluralité de contextes et d’identités. C’est 
                        pour cela que nous développé l’Explorateur des identités pour le 
                        conseil (EIC), un outil d’évaluation qualitative, qui vise à 
                        appréhender conjointement les identités professionnelles et 
                        extraprofessionnelles d’une personne en transition.
                    </p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Évènemetns</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bar-chart text-primary sr-icons"></i>
                        <h3>Suivi proactif</h3>
                        <p class="text-muted">Suivi de l'état de transition du client</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Assistance au decollage</h3>
                        <p class="text-muted">Assistance lors de la transition de métier</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Mise à jour</h3>
                        <p class="text-muted">grader les données toujours fraiche!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Résultats</h3>
                        <p class="text-muted">Une équipe d'experts à votre service!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding bg-dark" id="portfolio">
    	<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Membres du personnel</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container-fluid" align="center">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-2 col-sm-6">
                    <a href="/static/img/portfolio/fullsize/7.jpg" class="portfolio-box">
                        <img src="/static/img/portfolio/thumbnails/7.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Sil
                                </div>
                                <div class="project-name">
                                    Adam
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/static/img/portfolio/fullsize/8.jpg" class="portfolio-box">
                        <img src="/static/img/portfolio/thumbnails/8.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    CP
                                </div>
                                <div class="project-name">
                                    Andre
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/static/img/portfolio/fullsize/9.jpg" class="portfolio-box">
                        <img src="/static/img/portfolio/thumbnails/9.jpg" class="img-responsive" alt="" width="225" height="225">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    CE1
                                </div>
                                <div class="project-name">
                                    Marcel
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/static/img/portfolio/fullsize/10.jpg" class="portfolio-box">
                        <img src="/static/img/portfolio/thumbnails/10.jpg" class="img-responsive" alt="" width="225" height="225">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    CE2
                                </div>
                                <div class="project-name">
                                    Ivan
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/static/img/portfolio/fullsize/11.jpg" class="portfolio-box">
                        <img src="/static/img/portfolio/thumbnails/11.jpg" class="img-responsive" alt="" width="225" height="225">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    CM1
                                </div>
                                <div class="project-name">
                                    Randy
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/static/img/portfolio/fullsize/12.jpg" class="portfolio-box">
                        <img src="/static/img/portfolio/thumbnails/12.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    CM2
                                </div>
                                <div class="project-name">
                                    Pascal
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br><br>
    </section>



    <section id="nous">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">A propos de EIC</h2>
                    <hr class="primary">
                    <p>L’Explorateur des identités pour le conseil (EIC) 
                        s’inscrit dans le paradigme de la construction de 
                        sa carrière (Savickas, 2012). Il vise à explorer 
                        les différentes identités professionnelles et 
                        extraprofessionnelles d’une personne qui vit une 
                        ou des transitions afin de lui proposer un 
                        accompagnement global. Pour chaque identité explorée, 
                        la personne propose des descriptions qui peuvent être 
                        synonymes de ressources ou de défis liés à soi ou à 
                        autrui. Les descriptions recueillies sont ensuite 
                        projetées dans des cartographies identitaires et sont 
                        contextualisées à l’aide du récit de vie de la personne. 
                        Ainsi, cette approche narrative propose une activité 
                        réflexive à la personne à propos de ses situations 
                        passées, présentes et souhaitées, et par extension 
                        de ses projets de vie.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <% include ./footer %>
   </div>

</body>

</html>
